<h1><%= @division.department%>'s  Employee List</h1>

<ul>
  <% @division.employees.each do |employee| %>
  <li><a href="/employee/<%= employee.id%>/edit"> <%= employee.name %></a></li>
  <% end %>
</ul>

<br><br>
<p>Add A New Employee To The Division:<p>

<form action= '/division/:id/new' method= 'post'>
  <input id= "division_id" name= "division_id" type="hidden" value="<%= @division.id %>">
  <input id='name' name='name' type='text'>
  <button type='submit'>Submit</button>
</form>

<br>
<br>
<br>


<p>Edit The Division</p>

<form action = '/division/:id/edit' method= 'post'>
  <input name='_method' value='patch' type='hidden'>
  <input id='division_edit' name='division_edit' type='hidden' value='<%= @division.id %>'>
  <input id='new_name' name='new_name' type='text'>
  <button type='submit'>Submit Change</button>
</form>


<p>Click To Delete This Division</p>
<form action= "/division/:id/delete" method= "post">
  <input name='_method' value='delete' type='hidden'>
  <input id='delete_division' name='delete_division' type='hidden' value='<%= @division.id%>'>
  <button type='submit'>Delete</button>
</form>
